################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug_win32/droidGL3.tlog
/Debug_win32
/packages
/.vs
/Debug
