################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/droidGL3/v15/ipch/AutoPCH
/Debug/droidGL3.tlog
/Debug
/Debug_win32
/packages
/logfile.log
/packages.config
